/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
header {
    background: black;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-family: 'Nosifer', cursive;
    font-size: 1rem;
    color: #AA0000;
    text-shadow: 0 0 1px black, 0 0 1px #AA0000;
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s;
}

    nav a:hover {
        text-decoration: underline;
        color: #FF3333;
        text-shadow: 0 0 2px black, 0 0 3px #FF3333;
    }
    .header__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

header h1 {
    font-family: 'Nosifer', cursive;
    font-size: 2rem;
    color: #AA0000;
    text-shadow: 1px 1px 2px black
    ,0 0 2px #AA0000;
    margin: 0;
}
.header__left {
    display: flex;
    align-items: center
}
.header__left img {
        width: 90px;
        height: 90px;
}
.header__right {
    display: flex;
    align-items: center
}
.header__right img {
        width: 90px;
        height: 90px;
}



/* Sections */
.section {
    padding: 40px 0;
}

.section:nth-child(even) {
background: #f4f4f4;
}

/* Footer */
footer {
    background: black;
    text-align: center;
    padding: 20px 0;
}

.footer__wrap {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.footer__wrap div img {
    width: 90px;
    height: 90px;
}
footer p {
    color: white;
}