/* Reset default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
/* Header */

header {
    background: black;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-family: 'Nosifer', cursive;
    font-size: 1rem;
    color: #AA0000;
    text-shadow: 0 0 1px black, 0 0 1px #AA0000;
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s;
}

    .nav-link:hover {
        text-decoration: underline;
        color: #FF3333;
        text-shadow: 0 0 2px black, 0 0 3px #FF3333;
    }

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: 'Nosifer', cursive;
    font-size: 2rem;
    color: #AA0000;
    text-shadow: 1px 1px 2px black,0 0 2px #AA0000;
    margin: 0;
}

.header__left {
    display: flex;
    align-items: center
}

    .header__left img {
        width: 90px;
        height: 90px;
    }

.header__right {
    display: flex;
    align-items: center
}

    .header__right img {
        width: 90px;
        height: 90px;
    }
/*Sections*/

.section {
    padding: 60px 0;
    background: linear-gradient(to bottom right, #FFFF00, #000000, #AA0000);
}

.section__wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

    .section__wrap img {
        width: 300px;
        height: auto;
    }

    .section__wrap p {
        font-size: 0.8rem;
        color: grey;
        margin-bottom: 5px;
    }

.section__left {
    display: flex;
    flex-direction: column;
    gap: 55px;
    background: linear-gradient(180deg, #0b0b0b, #1a0000);
}


.section__left__lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__left__text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sin__icon {
    width: 30px !important;
    height: 30px !important;
    object-fit: contain;
    background-color: #FF2222;
}

button {
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
}

.section__left__upper p {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.section__left__upper h2 {
    color: #FF2222;
    text-shadow: 0 0 2px black, 0 0 3px #FF2222;
}

button:hover .sin__icon {
    transform: scale(1.1) rotate(10deg);
    transition: transform 0.3s;
}

.section__left__text a {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #FF2222;
    text-shadow: 0 0 2px black, 0 0 3px #FF2222;
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s;
}

    .section__left__text a:hover {
        color: #FF5555;
        text-shadow: 0 0 3px black, 0 0 5px #FF5555;
        box-shadow: 0 0 5px #AA0000, 0 0 10px #FF3333; 
    }

.section__left__text p {
    font-size: 0.75rem;
    color: #AAAAAA;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 3px;
}
/* Footer */

footer {
    background: black;
    text-align: center;
    padding: 20px 0;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .footer__wrap div img {
        width: 90px;
        height: 90px;
    }

footer p {
    color: white;
}
